<script setup>
const route = useRoute();
const fullMenu = ref(false);
watch(route, () => {
    fullMenu.value = false;
});
</script>

<template>
    <div class="w-full h-full overflow-x-hidden absolute"
        :class="fullMenu ? 'overflow-y-hidden lg:overflow-y-scroll' : 'overflow-y-scroll'">
        <div class="h-full container mx-auto px-2 sm:px-0 ">
            <div ref="root" class="py-2 flex items-center justify-between">
                <NuxtLink class="text-2xl" to="/">redream.pl</NuxtLink>
                <nav class="space-x-2 hidden lg:flex">
                    <NuxtLink to="/" :class="route.path === '/' ? 'border-b border-slate-900' : ''">redream</NuxtLink>
                    <NuxtLink to="/realizacje" :class="route.path === '/realizacje' ? 'border-b border-slate-900' : ''">
                        realizacje</NuxtLink>
                    <NuxtLink to="/oferty" :class="route.path === '/oferty' ? 'border-b border-slate-900' : ''">oferty
                    </NuxtLink>
                    <NuxtLink to="/team" :class="route.path === '/team' ? 'border-b border-slate-900' : ''">team
                    </NuxtLink>
                    <NuxtLink to="/kontakt" :class="route.path === '/kontakt' ? 'border-b border-slate-900' : ''">
                        kontakt
                    </NuxtLink>
                </nav>
                <button class="lg:hidden" @click="fullMenu = !fullMenu">
                    <img src="/svg/hamburger.svg" alt="hamburger">
                </button>
            </div>
            <main class="my-8">
                <slot />
            </main>
            <footer class="py-4">
                <p>redream.pl</p>
                <p>Kanta 48 Boenigka 24</p>
                <p>10-686 Olsztyn Olsztyn, Polska</p>
                <p>email: takdorian@gmail.com</p>
                <div class="py-2 flex space-x-2">
                    <NuxtLink target="blank" href="https://facebook.com">
                        <img src="/svg/facebook.svg" alt="facebook" />
                    </NuxtLink>
                    <NuxtLink target="blank" href="https://instagram.com">
                        <img src="/svg/instagram.svg" alt="instagram" />
                    </NuxtLink>
                </div>
            </footer>
        </div>

    </div>
    <div v-if="fullMenu" @click="fullMenu = false"
        class="lg:hidden absolute w-screen h-screen bg-slate-100 top-0 left-0">
        <nav class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col space-y-2 items-center'>
            <NuxtLink to="/" :class="route.path === '/' ? 'border-b border-slate-900' : ''" class="p-2 text-xl">
                redream</NuxtLink>
            <NuxtLink to="/realizacje" :class="route.path === '/realizacje' ? 'border-b border-slate-900' : ''"
                class="p-2 text-xl">
                realizacje</NuxtLink>
            <NuxtLink to="/oferty" :class="route.path === '/oferty' ? 'border-b border-slate-900' : ''" class="p-2 text-xl">
                oferty
            </NuxtLink>
            <NuxtLink to="/team" :class="route.path === '/team' ? 'border-b border-slate-900' : ''" class="p-2 text-xl">team
            </NuxtLink>
            <NuxtLink to="/kontakt" :class="route.path === '/kontakt' ? 'border-b border-slate-900' : ''" class="p-2 text-xl">
                kontakt
            </NuxtLink>
        </nav>
    </div>
</template>
