<script setup>
const runtimeConfig = useRuntimeConfig()
const route = useRoute()
const { data: images } = await useFetch(
    `${runtimeConfig.public.apiBase}/realizations/${route.params.id}`
);
</script>

<template>
    <section>
        <ul v-if="images" class="space-y-16 w-full flex flex-col items-center">
            <li v-for="i, index in images" :key="index">
                <img :src="i" :alt="`zjecie ${index}`">
            </li>
        </ul>
    </section>
</template>

<style scoped>
h1 {
    font-size: 2rem;
}
</style>