<script setup>
const runtimeConfig = useRuntimeConfig()

const show = ref(false)
const chosenId = ref(null)
const n = ref(0)

const imgr = ref(null)

const { data: realizations } = await useFetch(
    `${runtimeConfig.public.apiBase}/realizations`
);

const rClick = (r) => {
    show.value = true
    chosenId.value = r
}

watch(show, () => {
    if (show.value === true) document.documentElement.style.overflow = 'hidden'
    else if (show.value === false) document.documentElement.style.overflow = 'auto'
    if (imgr.value) {
        imgr.value.style.top = window.scrollY + 'px'
    }
})

watch(n, () => {
    if (n.value >= realizations.value[chosenId.value].images.length) n.value = 0
    else if (n.value < 0) n.value = realizations.value[chosenId.value].images.length - 1
})

</script>
<template>
    <div v-if="realizations">
        <div class="space-y-8">
            <h1>Nasze Realizajce</h1>
            <div v-for="r in realizations" :key="r.realization_id" class="flex flex-col lg:flex-row">
                <div class="div-img h-96 w-full lg:w-1/2 rounded" :style="`background-image: url(${r.img_0})`">
                </div>
                <div class="w-full lg:w-1/2 px-16 2xl:px-24 py-12 space-y-4">
                    <p>{{ r.line_0 }}</p>
                    <h1>{{ r.line_1 }}</h1>
                    <NuxtLink :to="`/realizacje/${r.realization_id}`" class="bg-slate-900 text-white w-max px-8 py-4">
                        Więcej zdjęć
                    </NuxtLink>
                </div>
            </div>
            <div class="div-img img-0">
                <div class="flex flex-col w-full h-full container px-1 sm:px-0 mx-auto justify-around py-16">
                    <h1>Zadzwoń i umów się na spotkanie!</h1>
                    <NuxtLink to="/kontakt" class="bg-slate-900 text-white w-max px-8 py-4">Kontakt</NuxtLink>
                </div>
            </div>
            <div style="margin-top: 32rem;"></div>
        </div>
    </div>
</template>
<style scoped>
.img-0 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30rem;
    background-position: bottom;
    background-image: url('/img/realizations-bg-img-0.jpg')
}

.big-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    max-width: 80vw;

}

.svg {
    color: white;
    z-index: 100;
    width: 5rem;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.svg:hover {
    cursor: pointer;
}

#svg-l {
    left: 5rem;
}

#svg-r {
    right: 5rem;
}

#svg-c {
    top: 5rem !important;
    right: 5rem;
}
</style>