<template>
  <div>
    <NuxtLayout>
      <Head>
        <Title>redream</Title>
      </Head>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>

<style>
html {
  scroll-behavior: smooth;
}
</style>