<script setup>
const runtimeConfig = useRuntimeConfig()
const route = useRoute()
const { data: offer } = await useFetch(
    `${runtimeConfig.public.apiBase}/offers/${route.params.id}`
);
</script>

<template>
    <section class="space-y-8">
        <div class="flex flex-col lg:flex-row lg:space-x-8">
            <div class="w-full lg:w-1/2 space-y-2">
                <h1>{{ offer.title_1 }}</h1>
                <p>{{ offer.description_1 }}</p>
            </div>
            <div :style="`background-image: url(${offer.img_1})`" class="div-img w-full lg:w-1/2 h-96 rounded"></div>
        </div>
        <h1>{{ offer.title_2 }}</h1>
        <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-x-8">
            <div v-for="i in Object.keys(offer.items_list)">
                <div class="text-sm">
                    <p>{{ i }}</p>
                    <p class="font-bold">{{ offer.items_list[i] }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped>
h1 {
    font-size: 2rem;
}
</style>