<script setup>
const runtimeConfig = useRuntimeConfig()
const { data: offers } = await useFetch(
  `${runtimeConfig.public.apiBase}/offers`
);

const liOpened = ref({});
const liClick = (offerId, li) => {
  if (liOpened.value[offerId] == li) {
    liOpened.value[offerId] = null;
    return;
  }
  liOpened.value[offerId] = li;
};
</script>
<template>
  <section v-if="offers" class="space-y-16">
    <div v-for="(offer, j) in offers" class="flex flex-col lg:flex-row sm:px-12 md:px-24 lg:px-0" :key="offer"
      :class="j % 2 === 0 ? '' : 'lg:flex-row-reverse'">
      <div :style="`background-image: url(${offer.img_0})`" class="div-img w-full h-96 lg:h-auto lg:w-1/2 rounded-3xl">
      </div>
      <div class="w-full lg:w-1/2 flex flex-col lg:px-12 xl:px-24 py-16 space-y-8 items-start"
        :class="j % 2 === 1 ? '' : 'lg:items-end'">
        <h1>{{ offer.title_0 }}</h1>
        <p :class="j % 2 === 1 ? '' : 'lg:text-right'">{{ offer.description_0 }}</p>
        <ul class="w-full p-0 m-0">
          <li v-for="(i, k) in Object.keys(offer.items_dict)" @click="liClick(offer.offer_id, i)"
            class="border-slate-400" :class="k === Object.keys(offer.items_dict).length - 1 ? '' : 'border-b'" :key="i">
            <div class="w-full flex justify-between py-4 items-center">
              <span class="font-semibold">{{ i }}</span>
              <img v-if="liOpened[offer.offer_id] === i" src="/svg/chevron-up.svg" />
              <img v-else src="/svg/chevron-down.svg" />
            </div>
            <p class="p-2" v-if="liOpened[offer.offer_id] === i">
              {{ offer.items_dict[i] }}
            </p>
          </li>
        </ul>
        <NuxtLink :to="`/oferty/${offer.offer_id}`" class="bg-slate-900 py-4 px-8 text-white">
          Wiencej...
        </NuxtLink>
      </div>
    </div>
  </section>
</template>

<style scoped>
h1 {
  font-size: 2.25rem;
  user-select: none;
}

p,
span {
  font-size: 1rem;
  user-select: none;
}
</style>