<template>
    <div class="w-full">
        <h1 class="py-8">Twoja nieruchomość pokazana z najlepszej strony.</h1>
        <div id="img-0" class="div-img h-96"></div>
        <section class="w-full flex justify-end mt-96">
            <div class="w-full lg:w-1/2 text-right">
                <h1 class="py-8">Perła w oceanie ofert.</h1>
                <p class="justify">
                    Naszym zadaniem oraz pasją jest sprawienie, aby to Twoja oferta
                    nieruchomości prezentowała się najlepiej spośród dziesiątek tysięcy
                    innych. Z nieustającym uporem dążymy do ukazania prawdziwego
                    charakteru i piękna miejsca pozostawionego pod naszą opiekę.
                    Wyczekujemy momentu, w którym ktoś nareszcie nazwie je w tak prosty a
                    zarazem znaczący sposób: Dom.
                </p>
            </div>
        </section>
        <section class="mt-8 w-full grid grid-cols-1 lg:grid-cols-2 gap-4">
            <NuxtLink to="/oferty/1" class="grid-box">
                <img class="offer-img" src="/img/home-tile-img-0.jpg" />
                <p class="p-0">Mieszkania / Domy / Wynajem</p>
            </NuxtLink>
            <NuxtLink to="/oferty/1" class="grid-box">
                <img class="offer-img" src="/img/home-tile-img-1.jpg" />
                <p class="p-0">Deweloperzy / Biura Nieruchomości</p>
            </NuxtLink>
            <NuxtLink to="/oferty/1" class="grid-box">
                <img class="offer-img" src="/img/home-tile-img-1.jpg" />
                <p class="p-0">Airbnb / Booking / Hotele / Biura Podróży</p>
            </NuxtLink>
            <NuxtLink to="/oferty/1" class="grid-box">
                <img class="offer-img" src="/img/home-tile-img-3.jpg" />
                <p class="p-0">Restauracje / Bary / Kluby</p>
            </NuxtLink>
        </section>
        <section class="my-8 w-full lg:w-1/2 flex flex-col items-start space-y-8">
            <h1>Diabeł tkwi w szczegółach.</h1>
            <p>
                Czy wiesz, że dobre oraz zachęcające zdjęcie pełniące funkcje okładki
                ogłoszenia odpowiada za ponad 90% kliknięć? Wiedziałeś również, że
                ogłoszenia posiadające tzw. wirtualne wycieczki przekładają się na 70%
                więcej przyszłych odwiedzających? Rzuć okiem na naszą ofertę i
                przekonaj się co możemy dla Ciebie zrobić.
            </p>
            <button class="bg-slate-900 px-8 py-4 text-white">oferta</button>
        </section>
    </div>
</template>
  
<style scoped>
#img-0 {
    position: absolute;
    left: 0;
    width: 100%;
    padding-bottom: 24rem;
    background-image: url("/img/home-bg-img-0.jpg");
}

#section-2 {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    color: var(--bg-color-0);
    background-color: var(--text-color-1);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.grid-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-color-0);
}

.offer-img {
    width: 100%;
}

.grid-box:hover .offer-img {
    opacity: 65%;
}

@media (min-width: 1024px) {
    #section-1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
</style>