<script setup>
const runtimeConfig = useRuntimeConfig()
const response = ref(null)

const data = reactive({
    email: "",
    subject: "",
    message: "",
});

const send = () => {
    console.log('send')
    console.log(data.email, data.subject, data.message)
    fetch(`http://localhost:7002/message`, {
        'method': 'POST',
        'headers': {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email: data.email, subject: data.subject, message: data.message })
    }).then((res) => {
        console.log(res.status)
        if (res.status !== 200) {
            response.value = false
            return
        }
        response.value = true
    }).catch(() => {
        response.value = false
    })
}

</script>

<template>
    <section class="flex flex-col lg:flex-row space-y-16 lg:space-y-0 lg:space-x-8">
        <div class="w-full lg:w-1/2 space-y-4">
            <h1 class="text-3xl">Liczymy na owocną współpracę!</h1>
            <p>
                Chętnie odpowiemy na wszelkie pytania i rozwiejemy nurtujące
                wątpliwości. Spotkajmy się na żywo przy dobrej kawie, pozwól nam poznać
                swoją nieruchomość :)
            </p>
        </div>
        <form class="w-full lg:w-1/2 flex flex-col space-y-2" @submit.prevent="send">
            <label class="text-sm" for="email">Email</label>
            <input type="email" class="p-1 border border-slate-600" maxlength="128" v-model="data.email" />
            <label class="text-sm" for="subject">Temat wiadomości</label>
            <input type="text" class="p-1 border border-slate-600" maxlength="256" v-model="data.subject" />
            <label class="text-sm" for="message">Wiadomość</label>
            <textarea name="message" cols="30" rows="10" maxlength="4096" class="p-1 border border-slate-600"
                v-model="data.message"></textarea>
            <button :disabled="data.email.length === 0 || data.subject.length === 0 || data.message.length === 0"
                class="bg-slate-900 p-2 text-white disabled:opacity-75">Wyslij</button>
            <p class="text-sm" v-if="response === true">Wiadomość wyslana, dziekujemy.</p>
            <p class="text-sm text-rose-600" v-else-if="response === false">Cos nie tak, sprawdz dane i spruboj
                ponownie.</p>
        </form>
    </section>
</template>
