<template>
    <section>
        <h1 class="text-center my-8">redream Team</h1>
        <div class="w-full flex flex-col md:flex-row space-y-8 md:space-y-0 md:space-x-4">
            <div class="flex flex-col w-full md:w-1/2">
                <img src="/img/dorek.jpg" alt="dorek" />
                <h1>Dorian Stasiak</h1>
                <p>
                    Z wykształcenia marketingowiec, z genetyki copywrighter, z pasji
                    fotograf. Prawie dwa metry wzrostu pozwalają spojrzeć na świat z nieco
                    innej perspektywy. Miłośnik dobrej kuchni oraz producent muzyczny.
                    Chwyta się wszystkiego, co pozwala upuścić nieco kreatywności.
                </p>
            </div>
            <div class="flex flex-col w-full md:w-1/2">
                <img src="/img/klaudia.jpg" alt="klaudia" />
                <h1>Klaudia Jędrzejewska</h1>
                <p>
                    Niebanalne podejście do estetyki sprawia, że arkana grafiki
                    komputerowej czy home stagingu nie mają dla niej tajemnic. Po świecie
                    mediów społecznościowych porusza się jak ryba w wodzie. Z
                    wykształcenia marketer oraz trendsetterka. Jeśli znajdzie wolną chwilę
                    to albo gotuje, albo śpiewa.
                </p>
            </div>
        </div>
    </section>
</template>
