:root {
    /* --primary-color:  */
    /* --text-color-0: #0f172a;
    --text-color-1: #1e293b;
    --bg-color-0: #cbd5e1;
    --content-padding: 8rem;
    --header-height: 4rem; */
    /* --res-0: 640px;
    --res-1: 768px;
    --res-2: 1024px;
    --res-3: 1280px;
    --res-4: 1536px; */
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('/fonts/Raleway.ttf');
    decoration: none;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.75rem;
    font-family: Roboto;
    font-weight: 500;
}

p,
span {
    font-family: Raleway;
}

.roboto {
    font-family: Roboto;
    font-weight: 500;
}

.raleway {
    font-family: Raleway;
}

.div-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}